<div  class="container-fluid text-center">
  <div id="wrapper" >

        <ngb-alert class="text-center" *ngIf="!staticAlertClosed" type="info" (close)="staticAlertClosed = true">Event created Sucessfully!</ngb-alert>
        <ngb-alert class="text-center" *ngIf="!staticAlertClosed1" type="success" (close)="staticAlertClosed1 = true">Event Edited Sucessfully!</ngb-alert>

        <ngb-alert class="text-center" *ngIf="!NewsubEvent" type="info" (close)="NewsubEvent = true">SubEvent created Sucessfully!</ngb-alert>
        <ngb-alert class="text-center" *ngIf="!EditsubEvent" type="success" (close)="EditsubEvent = true">SubEvent Edited Sucessfully!</ngb-alert>
        <ngb-alert class="text-center" *ngIf="!DeletesubEvent" type="danger" (close)="DeletesubEvent = true">SubEvent Deleted Sucessfully!</ngb-alert>
    <h2>Event Management</h2>
    <br>
    <ngb-tabset >
<!-- Event Details Tab *****************************************************************************************************-->
      <ngb-tab>
        <ng-template ngbTabTitle><b>Event Details</b> </ng-template>
          <ng-template ngbTabContent>
          <br>
          <form *ngIf="eventInfo">
                <div class="form-row">
                       
                      <div class="form-group col-md-12">                            
                            <h2>{{eventInfo.eventTitle}}</h2>
                            <label for="inputEmail4" class="col-form-label">Event Title</label>
                            <input type="text" class="form-control" name="username" value="{{eventInfo.eventTitle}}" 
                            [(ngModel)]="eventInfo.eventTitle"  id="inputEmail4" placeholder="Enter Event/Conference title" 
                            required >
                      </div>

                    <div class="form-group col-md-8" *ngIf="selectnewAddress">
                            <label for="exampleFormControlSelect1">Select Address</label>
                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="eventInfo.eventStreet" name="street" >
                                <option *ngFor="let address of AddressList.addresses"  value="{{address}} ">{{address}}</option>
                              </select>
                    </div>
                    
                    <div class="form-group col-md-8" *ngIf="!selectnewAddress">
                            <label for="inputEmail4" class="col-form-label">Street Number</label>
                            <input type="text" class="form-control" name="street"   id="inputEmail4" placeholder="Enter Postcode" [(ngModel)]="eventInfo.eventStreet" required >
                    </div>
                
                    <div class="form-group col-md-4">
                            <label for="inputEmail4" class="col-form-label">Postcode</label>
                            <input type="text" class="form-control" name="postcode"   id="inputEmail4" placeholder="Enter Postcode" [(ngModel)]="eventInfo.eventPostcode" required >
                            <br>
                    </div>

                      

                    <div class="form-group col-md-12">
                            <button type="submit" name="submit"  (click)="findnewAddress(eventInfo.eventPostcode)" class="btn btn-primary "><i class="fa fa-search" aria-hidden="true"></i> Find New Address</button>
                    </div>

                    <div class="w-100"></div>

                    <div class="form-group col-md-12" *ngIf="AddressList">
                              <div class="card">
                                  <div class="card-body">
                                      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                                          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                        </agm-map>
                                  </div>
                                </div>
                    </div>

                    <div class="w-100"></div><br>

                    <div class="form-group col-md-6">
                          <h5>Starts:</h5>
                            <form class="form-inline">
                                <div class="form-group">
                                  <div class="input-group">
                                    <input class="form-control" placeholder="{{ Start_model.year}}-{{ Start_model.month}}-{{ Start_model.day}}"
                                           name="dp" [(ngModel)]="Start_model" ngbDatepicker #start="ngbDatepicker" >
                                    <button class="input-group-addon" (click)="start.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                  </div>
                                </div>
                              </form>
                              <br>
                              <!-- <pre>Model: {{ Start_model | json }}</pre> -->
                              <small><b>Selected Start date: </b>{{ Start_model.year}}-{{ Start_model.month}}-{{ Start_model.day}}</small>
                    </div>

                    <div class="form-group col-md-6">
                              <ngb-timepicker [(ngModel)]="Start_time" [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                              <!-- <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                                  Meridian - {{meridian ? "ON" : "OFF"}}
                              </button> -->
                              <!-- <pre>Selected time: {{Start_time | json}}</pre> -->
                              <small><b>Selected Start time: </b>{{ Start_time.hour}} : {{ Start_time.minute}}</small>
                    </div>
                      

                    <div class="form-group col-md-6">
                            <h5>Ends:</h5>
                              <form class="form-inline">
                                  <div class="form-group">
                                    <div class="input-group">
                                      <input class="form-control" placeholder="{{ End_model.year}}-{{ End_model.month}}-{{ End_model.day}}"
                                             name="dp" [(ngModel)]="End_model" ngbDatepicker #ends="ngbDatepicker">
                                      <button class="input-group-addon" (click)="ends.toggle()" type="button">
                                        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                        <i class="fa fa-calendar"></i>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                                <br>
                                <!-- <pre>Model: {{ End_model | json }}</pre> -->
                                <small><b>Selected End date: </b>{{ End_model.year}}-{{ End_model.month}}-{{ End_model.day}}</small>
                    </div>

                    <div class="form-group col-md-6">
                                <ngb-timepicker [(ngModel)]="End_time" [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                                <!-- <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                                    Meridian - {{meridian ? "ON" : "OFF"}}
                                </button> -->
                                <!-- <pre>Selected time: {{End_time | json}}</pre> -->
                                <small><b>Selected End time: </b>{{ End_time.hour}} : {{ End_time.minute}}</small>
                    </div>
                    <br><br>
                    <h5>Description:</h5>
                          <!-- <label for="exampleFormControlTextarea1">Description</label> -->
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{eventInfo.eventDescription}}" 
                          [(ngModel)]="eventInfo.eventDescription" name="description" >
                              {{eventInfo.Description}}
                          </textarea>

                </div>
                  <br><br>
                    <!-- end of form row div -->
                    <button type="submit" name="submit" 
                    (click)="updateEventInfo( eventInfo.eventTitle , eventInfo.eventPostcode, eventInfo.eventDescription,  eventInfo.eventStreet)" 
                    class="btn btn-primary btn-lg">Submit Changes</button>
          </form>
          <br><br>
        </ng-template>
      </ngb-tab>
<!-- Event Schedule Tab *****************************************************************************************************-->
      <ngb-tab>
          <ng-template ngbTabTitle><b>Event Schedule</b> </ng-template>

          

          <ng-template ngbTabContent>
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <button type="submit" name="submit" (click)="newSubevent()" class="btn btn-warning btn-sm">
                            <i *ngIf="!showInnerEventTab" class="fa fa-plus" aria-hidden="false"></i> 
                            <i *ngIf="showInnerEventTab" class="fa fa-times" aria-hidden="false"></i> 
                            {{showInnerEventTab ? 'Close Form' : 'Add a SubEvent'}}
                    </button>

                    <br>
                    <form *ngIf="showInnerEventTab" ngNativeValidate>
                        
                                    <div class="form-row"  >
                                           
                                        <div class="form-group col-md-12">
                                            <p>Event Title</p>
                                            <!-- <label for="inputEmail4" class="col-form-label">Event Title</label> -->
                                            <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter Event Title"  #subEventTitle required>
                                        </div>

                                        <div class="w-100"></div>


                                        <div class="form-group col-md-12">
                                          <p>Starts:</p>
                                            <form class="form-inline">
                                                <div class="form-group">
                                                  <div class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                           name="subEventModelStart" [(ngModel)]="subEventModelStart" ngbDatepicker #start="ngbDatepicker">
                                                    <button class="input-group-addon" (click)="start.toggle()" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                  </div>
                                                </div>
                                              </form>
                                              <br>
                                              <ngb-timepicker [(ngModel)]="subEventTimeStart" [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>

                                              <!-- <pre>Model: {{ subEventModelStart | json }}</pre> -->
                                        </div>

                                        <!-- <div class="form-group col-md-6"> -->
                                             
                                              <!-- <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                                                  Meridian - {{meridian ? "ON" : "OFF"}}
                                              </button> -->
                                              <!-- <pre>Selected time: {{subEventTimeStart | json}}</pre> -->
                                        <!-- </div> -->


                                        <div class="form-group col-md-12">
                                            <p>Ends:</p>
                                              <form class="form-inline">
                                                  <div class="form-group">
                                                    <div class="input-group">
                                                      <input class="form-control" placeholder="yyyy-mm-dd"
                                                             name="subEventModelEnd" [(ngModel)]="subEventModelEnd" ngbDatepicker #ends="ngbDatepicker">
                                                      <button class="input-group-addon" (click)="ends.toggle()" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                      </button>
                                                    </div>
                                                  </div>
                                                </form>
                                                <br>
                                                <ngb-timepicker [(ngModel)]="subEventTimeEnd" [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                                                <!-- <pre>Model: {{ subEventModelEnd | json }}</pre> -->
                                          </div>

                                          <!-- <div class="form-group col-md-6"> -->
                                               
                                                <!-- <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                                                    Meridian - {{meridian ? "ON" : "OFF"}}
                                                </button> -->
                                                <!-- <pre>Selected time: {{subEventTimeEnd | json}}</pre> -->
                                          <!-- </div> -->
                                          <div class="form-group col-md-12">    
                                                <h6>Description</h6>     
                                         
                                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #subeventDescription required></textarea>
                                        </div>
                                  </div>
                                  <br><br>
                                    <!-- end of form row div -->
                                          <button type="submit" name="submit" (click)="addSubEvent(subEventTitle.value,subeventDescription.value)" class="btn btn-primary btn-lg">Submit</button>
                                  </form>

                                  <app-inner-events-form *ngIf="editsubevent" [innerEvent]="SelectedInnerEvent" (refresh)="updateList($event)" ></app-inner-events-form >
                                    <br>
                          </div>
                          
                          <div class="col-sm-4">
                                                    <h5>Events Scheduled </h5>
                                                    <br>
                                                    <div class="card" *ngFor="let subEvent of innerEvents  " >
                                                        <div class="card-body">
                                                            <h4 class="card-title">{{subEvent.innerEventTitle}} </h4>
                                                            <p>{{subEvent.innerEventDescription}}</p>
                                                            <h5> Start</h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">
                                                              {{subEvent.innerEventStartDate | date:'medium' }}
                                                            </h6>
                                                            <h5> End</h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">
                                                            {{subEvent.innerEventEndDate| date:'medium' }}
                                                              </h6>
                                                              <button  class="btn btn-warning btn-sm"(click)="editinnerEvent(subEvent)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                                                                <button  class="btn btn-danger btn-sm"(click)="deleteinnerEvent(subEvent)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>

                                                           
                                                          </div>
                                                      </div>
                                                      <br>
                                                      <br>

                            </div>
                </div>
                                  <br><br>
          </ng-template>
        </ngb-tab>

<!-- Event Exhibitors Tab *****************************************************************************************************-->
      <ngb-tab>

            <ng-template ngbTabTitle><b>Exhibitors</b> </ng-template>
            <ng-template ngbTabContent>
             <br>
              <h1> Add & See the event Exhibitors registered </h1>

              <hr>
              <div class="row">

                  <div class="col-sm-5">

                    <h5>Add <button type="submit" name="submit" (click)="showExhibitorsTab = !showExhibitorsTab" class="btn btn-warning btn-sm">+</button></h5>

                      <form *ngIf="showExhibitorsTab" >
                          <div class="form-row">
                              <div class="form-group col-md-10">
                                  <label for="inputEmail4" class="col-form-label">Exhibitor Name</label>
                                  <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter User Name" required #exhibitorName>
                              </div>
                              <div class="form-group col-md-10">
                                  <label for="inputEmail4" class="col-form-label">Exhibitor Rep</label>
                                  <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter Surname" required #exhibitorRep>
                              </div>

                              <div class="form-group col-md-10">
                                  <label for="inputEmail4" class="col-form-label">Email</label>
                                  <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter Surname" required #exhibitorEmail>
                              </div>

                              <div class="form-group col-md-10">
                                  <label for="exampleFormControlSelect1">Select Event</label>
                                  <select class="form-control" id="exampleFormControlSelect1" #exhibitorEvent>
                                    <option>Workshop 1</option>
                                    <option>Workshop 2</option>
                                  </select>
                              </div>

                              <div class="form-group col-md-10">
                                  <label for="exampleFormControlSelect1">Select Industry Sector</label>
                                  <select class="form-control" id="exampleFormControlSelect1" #exhibitorIndustry>
                                    <option>ICT</option>
                                    <option>Business</option>
                                  </select>
                              </div>

                              <div class="form-group col-md-10">
                                  <label for="exampleFormControlTextarea1">What we do</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #exhibitorDesc></textarea>
                              </div>

                          </div>
                                <button type="submit" name="submit" (click)=" addExhibitor(exhibitorName.value, exhibitorDesc.value , exhibitorEmail.value,
                                        exhibitorRep.value, exhibitorIndustry.value, exhibitorEvent.value)" class="btn btn-primary btn-sm">Submit</button>
                        </form>

                        <app-edit-exhibitor-form [exhibitor]="SelectedExhibitor" ></app-edit-exhibitor-form>

                  </div>
                  <div class="col-sm-7">

                      <h5>Exhibitors registered </h5>
                      <br>
                      <div class="card" *ngFor="let exhibitor of ExhibitorsList" >
                          <div class="card-body">
                              <h4 class="card-title">{{exhibitor.name}}</h4>
                              <h5>{{exhibitor.exhibitorIndustry}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{exhibitor.exhibitorRepName}}</h6>
                              <p>{{exhibitor.description}}</p>
                              <a class="btn btn-warning btn-sm" (click)=" EditExhibitor(exhibitor)"> Edit</a>
                              <a  class="btn btn-danger btn-sm"  (click)=" deleteExhibitor(exhibitor)" >Delete</a>
                            </div>
                        </div>
                        <br>
                          <br>

                  </div>

              </div>
            </ng-template>
          </ngb-tab>



















<!-- Event Attendees Tab *****************************************************************************************************-->
    <ngb-tab>
        <ng-template ngbTabTitle><b>Attendees</b> </ng-template>
          <ng-template ngbTabContent>
            <br>
            <h1> Add & See the event Attendees registered </h1>
            <hr>
              <div class="row">

                    <div class="col-sm-5">
                      <h5>Add <button type="submit" name="submit" (click)="showAttendeesTab = !showAttendeesTab" class="btn btn-warning btn-sm">+</button></h5>
                          <form *ngIf="showAttendeesTab" >
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="inputEmail4" class="col-form-label">Name</label>
                                    <input type="text" class="form-control"   id="inputEmail4" placeholder="Enter User Name" required #name>
                                </div>
                                <div class="form-group col-md-10">
                                    <label for="inputEmail4" class="col-form-label">Surname</label>
                                    <input type="text" class="form-control"    id="inputEmail4" placeholder="Enter Surname" required #surname >
                                </div>
                                <div class="form-group col-md-10">
                                    <label for="inputEmail4" class="col-form-label">email</label>
                                    <input type="text" class="form-control"   id="inputEmail4" placeholder="Enter email" required #email>
                                </div>
                                <div class="form-group col-md-10">
                                    <label for="inputPassword4" class="col-form-label">Password</label>
                                    <input type="password" class="form-control"   id="inputPassword4" placeholder=" Enter Password" required>
                                </div>
                            </div>
                        <!-- <button type="submit" name="submit"(click)="showAttendeesTab = !showAttendeesTab"  class="btn btn-primary btn-sm">Submit</button> -->
                                  <button type="submit" name="submit" (click)="addAttende(name.value, surname.value, email.value)"  class="btn btn-primary btn-sm">Submit</button>
                          <br>
                          <hr>
                                </form>

                          <app-edit-attende-form [attendee]="SelectedAttende" ></app-edit-attende-form>
                    </div>

                    <div class="col-sm-7" *ngIf="AttendeesList">
                         <h5>Attendees registered </h5>
                          <br>
                          <div class="card" *ngFor="let attende of AttendeesList" >
                            <div class="card-body">
                                <h4 class="card-title" >{{attende.name}} {{attende.surname}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{attende.email}}</h6>
                                <a  class="btn btn-warning btn-sm" (click)="EditAttendee(attende)">edit</a>
                                <a class="btn btn-danger  btn-sm"  (click)="delete(attende)" >Delete</a>
                              </div>
                          </div>
                    </div>

          </div>
        </ng-template>
    </ngb-tab>
<!-- Event Speakers Tab *****************************************************************************************************-->
      <ngb-tab>
          <ng-template ngbTabTitle><b>Speakers</b> </ng-template>
          <ng-template ngbTabContent>
              <br>
              <h1> Add & See the event Speakers registered </h1>

              <hr>
              <div class="row">

                  <div class="col-sm-5">

                    <h5>Add <button type="submit" name="submit" (click)="showSpeakersab = !showSpeakersab" class="btn btn-warning btn-sm">+</button></h5>

                      <form *ngIf="showSpeakersab" >
                          <div class="form-row">
                              <div class="form-group col-md-10">
                                  <label for="inputEmail4" class="col-form-label">Name</label>
                                  <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter User Name" required #speakerName>
                              </div>
                              <div class="form-group col-md-10">
                                  <label for="inputEmail4" class="col-form-label">Surname</label>
                                  <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter Surname" required #speakerSurname>
                              </div>
                              <div class="form-group col-md-10">
                                  <label for="inputEmail4" class="col-form-label">email</label>
                                  <input type="text" class="form-control" name="username"   id="inputEmail4" placeholder="Enter email" required #speakerEmail >
                              </div>

                              <div class="form-group col-md-10">
                                  <label for="exampleFormControlSelect1">Select Industry Sector</label>
                                  <select class="form-control" id="exampleFormControlSelect1" #speakerIndustry>
                                    <option>ICT</option>
                                    <option>Business</option>
                                  </select>
                              </div>

                              <div class="form-group col-md-10">
                                  <label for="exampleFormControlSelect1">Select Scheduled Event</label>
                                  <select class="form-control" id="exampleFormControlSelect1" #speakerEvent>
                                    <option>Workshop 1</option>
                                    <option>Workshop 2</option>
                                  </select>
                              </div>


                          </div>
                  <button type="submit" name="submit" (click)="addSpeaker(speakerName.value, speakerSurname.value, speakerEmail.value , speakerEvent.value, speakerIndustry.value)" class="btn btn-primary btn-sm">Submit</button>
                        </form>

                        <app-edit-speaker-form [speaker]="SelectedSpeaker"> </app-edit-speaker-form>
                  </div>
                  <div class="col-sm-7">

                      <h5>Speakers registered </h5>
                      <br>
                      <div class="card" *ngFor="let speaker of SpeakerList" >
                          <div class="card-body">
                              <h4> <span class="badge badge-secondary">{{speaker.eventName}}</span> </h4>
                              <h5 class="card-title">{{speaker.name}} {{speaker.surname}}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{speaker.email}}</h6>
                              <p>{{speaker.speakerIndustry}}</p>
                              <a  class="btn btn-warning btn-sm" (click)="EditSpeaker(speaker)">edit</a>
                              <a class="btn btn-danger  btn-sm"  (click)="deleteSpeaker(speaker)" >Delete</a>
                            </div>
                        </div>
                        <br>

                          <br>

                  </div>

              </div>
          </ng-template>
        </ngb-tab>




    </ngb-tabset>
  </div>
</div>
<br><br>




