
  <form *ngIf="subEventToedit" >


      <div class="form-row"  >

          <div class="form-group col-md-12">
              <!-- <h5>Event Title:</h5> -->
              <p>Event Title</p>
              <input type="text" class="form-control" name="username"   [(ngModel)]="subEventToedit.innerEventTitle"  name="title"  id="inputEmail4"  required >
          </div>

          <div class="w-100"></div>


          <!-- <div class="form-group col-md-6">
            <p>Starts:</p>
              <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                              name="dp" [(ngModel)]="innerEvent[2]"  ngbDatepicker #start="ngbDatepicker">
                      <button class="input-group-addon" (click)="start.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <br><br>
                <pre>Model: {{ InnerEventmodelStart | json }}</pre>
          </div>

          <div class="form-group col-md-6">
                <ngb-timepicker [(ngModel)]="innerEvent[3]"  [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                    Meridian - {{meridian ? "ON" : "OFF"}}
                </button>
                <pre>Selected time: {{InnerEventTimeStart | json}}</pre>
          </div> -->



          <div class="form-group col-md-12">
            <p>Starts:</p>
              <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="{{ InnerEventStart_model.year}}-{{ InnerEventStart_model.month}}-{{ InnerEventStart_model.day}}"
                              name="dp" [(ngModel)]="InnerEventStart_model"  ngbDatepicker #InnerEventstart="ngbDatepicker">
                      <button class="input-group-addon" (click)="InnerEventstart.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </form>
                 <!-- <br><br> -->
                <!-- <pre>Model: {{ InnerEventStart_model | json }}</pre> -->
          </div>

          <div class="form-group col-md-12">
                <ngb-timepicker [(ngModel)]=" InnerEventStart_time"  [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                <!-- <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                    Meridian - {{meridian ? "ON" : "OFF"}}
                </button> -->
                <!-- <pre>Selected time: {{InnerEventStart_time | json}}</pre> -->
          </div>

          <div class="form-group col-md-6">
              <p>Ends:</p>
                <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="{{  InnerEventEnd_model.year}}-{{ InnerEventEnd_model.month}}-{{ InnerEventEnd_model.day}}"
                                name="dp" [(ngModel)]="InnerEventEnd_model"  ngbDatepicker #InnerEventends="ngbDatepicker">
                        <button class="input-group-addon" (click)="InnerEventends.toggle()" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                   <!-- <br><br> -->
                  <!-- <pre>Model: {{ InnerEventEnd_model | json }}</pre> -->
            </div>

            <div class="form-group col-md-12">
                  <ngb-timepicker [(ngModel)]="InnerEventEnd_time"  [meridian]="meridian" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                  <!-- <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                      Meridian - {{meridian ? "ON" : "OFF"}}
                  </button> -->
                  <!-- <pre>Selected time: {{InnerEventEnd_time | json}}</pre> -->
            </div>

            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]="subEventToedit.innerEventDescription"  name="description"  rows="3" ></textarea>

    </div>
    <br><br>
      <!-- end of form row div -->
            <button type="submit" name="submit" (click)="ConfirmChanges(subEventToedit.innerEventTitle,subEventToedit.innerEventDescription )" class="btn btn-primary btn-lg">Submit</button>
</form>
